body {
    background-color: #7eadf7;
    color: #031B3F;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    padding: 2vw;
    line-height: 1.3em;
}
nav {
    margin-left:7vw;
    font-weight:600;
    font-size:1.3em;
}

p {
    text-align: center;
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    font-size: 25;
}

img {
    width: 150%;
    max-width: 300px;
}

h1 {
    text-align: center;
}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
footer {
    width: 100%;
    background-color: #bad7e6 /*#D9E9D9*/;
    padding: 5px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    font-size: smaller;
}
footer p {
   text-align:left; 
}
footer figure {
    float: left;
}
footer figure img {
    width:5vw;
    max-width: 150px;
    margin-top: -1vw;
}
 
